**/.git
**/.gitignore
**/.gitattributes
**/.editorconfig
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/logs
**/*.user
**/secrets.json
**/.env*
**/appsettings.Local.json
**/TestResults
**/*.md
tests/
deploy/certs/*
!deploy/certs/.gitkeep
